.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px slategray;
  width: 400px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup h2 {
  padding-bottom: 5px;
}

.popup label {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popup input,
.popup select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup .message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.popup button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #5B3FD8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  font-weight: bold;
  font-size: medium;
  background: #5232e5;
}

.popup .cancel {
  background: #ccc;
  color: black;
}

.popup .cancel:hover {
  background: #bbb;
}

