form button {
  width: 60%;
  padding: 10px;
  background: #2a6262;
  color: white;
  border: none;
  border-radius: 19px;
  cursor: pointer;
}
form button:hover{
  font-weight: bold;
  font-size: small;
  background: #306e6e;
}


form{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -70%);

  border-radius: 10px;
  box-shadow: 0 10px 25px slategray;
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1{
  padding-bottom: 10px;
}

