@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
}


.navbar{
  background-color:#f5f5f5 ;
  padding:10px 50px;
  border-bottom: 1px solid #e5e5e5;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section{
  display: flex;
  align-items: center;
  gap:40px;
}


.vera{
  font-family:  'Abhaya Libre ExtraBold',  serif;
  font-size: 30px;
  font-weight: 700;
  color:#2a6262;
  cursor: pointer;
  line-height: 1;
}
.nav-links{
  display: flex;
  gap: 35px;
}

.nav-links a{
  text-decoration: none;
  color: #222;
  font-size: 20px;
  line-height: 1;
}

.nav-links a:hover{
  color:#306e6e;
}

.nav-buttons{
  display: flex;
  gap: 15px;
}

.btn{
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor:pointer;
  border: none;
  transition: all 0.3s ease;
}
.btn-outline{
  border: 1px solid grey;
  background: transparent;
  color:#2a6262;
}

.btn-outline:hover{
  background-color: #2a6262;
  color: white;
}

.btn-primary{
  background-color: #2a6262;
  color: white;
}

.btn-primary:hover{
  background-color: #306e6e;
}
