<header class="navbar">
  <div class="nav-container">
    <div class="left-section">
      <div class="Invitini">Invitini</div>

      <nav class="nav-links">
        <a routerLink="/home">{{ 'navbar.home' | translate }}</a>
        <a routerLink="/events">{{ 'navbar.events' | translate }}</a>
        <a routerLink="/about">{{ 'navbar.about' | translate }}</a>
        <a routerLink="/contact">{{ 'navbar.contact' | translate }}</a>
      </nav>
    </div>

    <div class="custom-select-wrapper">
      <select
        [(ngModel)]="currentLang"
        (ngModelChange)="translateLangService.switchTo($event)"
        class="custom-select"
      >
        <option value="fr">FR</option>
        <option value="en">EN</option>
      </select>
    </div>

    <div class="nav-buttons">
      <ng-container *ngIf="!isLoggedIn">
        <button (click)="logIn()" class="btn btn-outline">{{ 'navbar.login' | translate }}</button>
        <button (click)="signUp()" class="btn btn-primary">{{ 'navbar.signup' | translate }}</button>
      </ng-container>

      <div *ngIf="isLoggedIn" class="user-info">
        <a [routerLink]="isAdmin ? '/admin/dashboard' : '/profile'" class="user-name">{{ userName }}</a>
        <button (click)="modalService.openLogoutModal()"  class="btn btn-outline">{{ 'navbar.logout' | translate }}</button>
      </div>
    </div>
  </div>
</header>

<app-confirm-logout></app-confirm-logout>
