<div class="modal-overlay" (click)="close()">
<form (click)="$event.stopPropagation()">
  <h1>{{ lang.get('navbar.login') }}</h1>
  <div>
    <label>
      Email :
    </label>
    <input type="text"  [(ngModel)]="email" name="email" email #emailRef="ngModel">
    <small *ngIf="emailRef.errors?.['email'] && emailRef.touched">Forme email incorrecte</small>

  </div>
  <br>
  <div>
    <label>
      {{ lang.get('login.mdp') }}
    </label>
    <input type="password" [(ngModel)]="password" name="password" email>
  </div>

  <div class="forgot-password-link">
    <a (click)="openForgotPassword(); $event.preventDefault()" href="#">
      {{ lang.get('login.forgotpsw') }}
    </a>
  </div>


<p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
  <br>

  <button (click)="login()" type="button">{{ lang.get('navbar.login') }}</button>


</form>
  <app-forgot-password-modal></app-forgot-password-modal>

</div>
