<div class="modal-overlay" (click)="close()">
<form (click)="$event.stopPropagation()">
  <h1>Login Page</h1>
  <div>
    <label>
      Email :
    </label>
    <input type="text"  [(ngModel)]="email" name="email" email #emailRef="ngModel">
    <small *ngIf="emailRef.errors?.['email'] && emailRef.touched">Forme email incorrecte</small>

  </div>
  <br>
  <div>
    <label>
      Password:
    </label>
    <input type="password" [(ngModel)]="password" name="password" email>
  </div>
<p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
  <br>

  <button (click)="login()" type="button">Login</button>


</form>

</div>
