<div class="modal-overlay" (click)="close()">
<form #formRef="ngForm" (ngSubmit)="signed(formRef)"  (click)="$event.stopPropagation()" >
  <h1>{{ lang.get('navbar.signup') }}</h1>
  <div class="error-banner" *ngIf="errorMessage">
     {{ errorMessage }}
  </div>

  <div>
    <label>{{ lang.get('signup.nom' )}}</label>
    <input type="text" name="nom" placeholder="Nom" [(ngModel)]="nom" required #nomRef="ngModel">
  </div>
  <small *ngIf="nomRef.errors?.['required'] && nomRef.touched">* Champs obligatoire</small>
  <br>

  <div>
    <label>{{ lang.get('signup.prenom') }}</label>
    <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="prenom" required #prenomRef="ngModel">
  </div>
  <small *ngIf="prenomRef.errors?.['required'] && prenomRef.touched">* Champs obligatoire</small>
  <br>


  <div>
    <label>Email</label>
    <input type="text" name="email" placeholder="Email" [(ngModel)]="email" required email #emailRef="ngModel">
  </div>
  <small *ngIf="emailRef.errors?.['required'] && emailRef.touched">* Champs obligatoire</small>
  <small *ngIf="emailRef.errors?.['email'] && emailRef.touched">Forme email incorrecte</small>
  <br>

  <div>
    <label>{{ lang.get('login.mdp') }}</label>
    <input type="password" name="mdp" placeholder="Mot de passe" [(ngModel)]="mdp" required #mdpRef="ngModel">
  </div>
  <small *ngIf="mdpRef.errors?.['required'] && mdpRef.touched">* Champs obligatoire</small>
  <br>
  <div>
    <label>{{ lang.get('signup.confirmmdp') }}</label>
    <input
      type="password"
      name="confirmMdp"
      placeholder="Confirmer le mot de passe"
      [(ngModel)]="confirmMdp"
      required
      #confirmMdpRef="ngModel">
  </div>
  <small *ngIf="confirmMdpRef.errors?.['required'] && confirmMdpRef.touched">* Champs obligatoire</small>
  <small *ngIf="mdp !== confirmMdp && confirmMdpRef.touched" class="error-text">* Les mots de passe ne correspondent pas
  </small>
  <br>


  <div class="role">
    <input type="radio" name="role" value="ROLE_ORGANISATEUR" [(ngModel)]="role" required>
    {{ lang.get('signup.org') }}

    <input type="radio" name="role" value="ROLE_USER" [(ngModel)]="role" required>
    Participant
  </div>
  <br>
  <div *ngIf="role === 'ROLE_ORGANISATEUR'">
    <label>{{ lang.get('signup.nomorg') }}</label>
    <input
      type="text"
      name="nomOrganisation"
      placeholder="Ex: Association Culturelle de Tunis"
      [(ngModel)]="nomOrganisation"
      [required]="role === 'ROLE_ORGANISATEUR'"
      #nomOrgRef="ngModel">
    <small *ngIf="nomOrgRef.errors?.['required'] && nomOrgRef.touched">* Champs obligatoire pour organisateurs</small>
  </div>
  <br *ngIf="role === 'ROLE_ORGANISATEUR'">
  <button type="submit" >{{ lang.get('navbar.signup') }}</button>
</form>
</div>
