<div class="modal-overlay" (click)="close()">
  <form #formRef="ngForm" (ngSubmit)="signed(formRef)" (click)="$event.stopPropagation()">
    <h1>{{ 'navbar.signup' | translate }}</h1>

    <button class="close-btn" (click)="close(); $event.stopPropagation()" type="button">
      &times;
    </button>

    <div class="error-banner" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="success-banner" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div>
      <label>{{ 'signup.nom' | translate }}</label>
      <input type="text" name="nom" placeholder="Nom" [(ngModel)]="nom" required #nomRef="ngModel">
    </div>
    <small *ngIf="nomRef.errors?.['required'] && nomRef.touched">* Champs obligatoire</small>
    <br>

    <div>
      <label>{{ 'signup.prenom' | translate }}</label>
      <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="prenom" required #prenomRef="ngModel">
    </div>
    <small *ngIf="prenomRef.errors?.['required'] && prenomRef.touched">* Champs obligatoire</small>
    <br>

    <div>
      <label>Email :</label>
      <input type="text" name="email" placeholder="Email" [(ngModel)]="email" required email #emailRef="ngModel">
    </div>
    <small *ngIf="emailRef.errors?.['required'] && emailRef.touched">* Champs obligatoire</small>
    <small *ngIf="emailRef.errors?.['email'] && emailRef.touched">Forme email incorrecte</small>
    <br>

    <div>
      <label>{{ 'login.mdp' | translate }}</label>
      <input type="password"
             name="mdp"
             placeholder="Mot de passe"
             [(ngModel)]="mdp"
             required
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&.#_-])[A-Za-z\d@$!%*?&.#_-]{8,}$"
             #mdpRef="ngModel">
      <br>

    </div>
    <small *ngIf="mdpRef.errors?.['required'] && mdpRef.touched">* Champs obligatoire</small>
    <div class="password-rules" *ngIf="mdpRef.touched && mdpRef.invalid">

      <p class="rules-title" [class.invalid]="mdpRef.invalid">
        Le mot de passe doit contenir :
      </p>

      <ul>
        <li [class.valid]="mdp.match('(?=.*[a-z])')">1 minuscule</li>
        <li [class.valid]="mdp.match('(?=.*[A-Z])')">1 majuscule</li>
        <li [class.valid]="mdp.match('(?=.*\\d)')">1 chiffre</li>
        <li [class.valid]="mdp.match('(?=.*[@$!%*?&.#_-])')">1 caractère spécial</li>
        <li [class.valid]="mdp.length >= 8">Au moins 8 caractères</li>
      </ul>

    </div>
    <br>

    <div>
      <label>{{ 'signup.confirmmdp' | translate }}</label>
      <input
        type="password"
        name="confirmMdp"
        placeholder="Confirmer le mot de passe"
        [(ngModel)]="confirmMdp"
        required
        #confirmMdpRef="ngModel">
    </div>
    <small *ngIf="confirmMdpRef.errors?.['required'] && confirmMdpRef.touched">* Champs obligatoire</small>
    <small *ngIf="mdp !== confirmMdp && confirmMdpRef.touched" class="error-text">* Les mots de passe ne correspondent pas</small>
    <br>
    <div class="role">
      <button type="button"
              [class.active]="role === 'ROLE_ORGANISATEUR'"
              (click)="role = 'ROLE_ORGANISATEUR'">
        {{ 'signup.org' | translate }}
      </button>
      <button type="button"
              [class.active]="role === 'ROLE_USER'"
              (click)="role = 'ROLE_USER'">
        Participant
      </button>
    </div>
    <br>

    <div *ngIf="role === 'ROLE_ORGANISATEUR'">
      <label>{{ 'signup.nomorg' | translate }}</label>
      <input
        type="text"
        name="nomOrganisation"
        placeholder="Ex: Association Culturelle de Tunis"
        [(ngModel)]="nomOrganisation"
        [required]="role === 'ROLE_ORGANISATEUR'"
        #nomOrgRef="ngModel">
      <small *ngIf="nomOrgRef.errors?.['required'] && nomOrgRef.touched">* Champs obligatoire pour organisateurs</small>
    </div>
    <br *ngIf="role === 'ROLE_ORGANISATEUR'">

    <button class="signup-btn" type="submit">{{ 'navbar.signup' | translate }}</button>
  </form>
</div>
