form{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -70%);

  border-radius: 10px;
  box-shadow: 0 10px 25px slategray;
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1{
  padding-bottom: 8px;
}
form input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
form div {
  display: flex;
  align-items: center;          /* vertically align label + input */

}
form label {
  width: 120px;                 /* fixed width for labels */
  text-align: left;             /* optional, can be right if you like */
  margin-right: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background: #2a6262;
  color: white;
  border: none;
  border-radius: 19px;
  cursor: pointer;
}
form button:hover{
  font-weight: bold;
  font-size: small;
  background: #306e6e;
}
small{
  color: red;
  font-size: 0.85rem;
  margin-left: 0;
}
