header{
  background-color: #2a6262;
  padding: 5px;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;

}
.vera{
  font-style: italic;
  font-size: 20px;
  padding: 8px 12px;
}
.btn{
  background-color: #2a6262;
  color: white;
  border-radius: 30px;
  padding: 3px;
  border: none;
  font-weight: bold;
  font-size: medium;
  padding: 10px 12px;
}
.btn:hover{
  background-color: #306e6e;
  color: whitesmoke;

}

