.hero{
  position: relative;
  width: 100%;
  height: 480px;
  background: url('https://www.eventbookings.com/wp-content/uploads/2024/02/Creative-Outdoor-Event-Ideas-for-Your-Next-Gathering.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 70px;
}

.hero-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.30);
}

.hero-content{
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-title{
  font-family: 'Abhaya Libre ExtraBold', serif;
  font-size: 70px;
  font-weight: 800;
  color: white;
  opacity: 0.60;
  text-shadow: 2px 4px 20px rgba(0,0,0,0.5),
                0 0 40px rgba(0,0,0,0.3);
  letter-spacing: 6px;
}


.tagline{
  padding: 20px 80px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.tagline p{
  font-size: 25px;
  color: #2a6262;
  line-height: 1.8;
}


.btn-primary{
  background-color: #2a6262;
  color: white;
}

.btn-primary:hover{
  background-color: #306e6e;
  font-size: 15px;
}

.btn{
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor:pointer;
  border: none;
  transition: all 0.3s ease;
}



.event-section{
  padding: 40px 60px;
}

.event-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  align-items: stretch;
}

.event-card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: white;
  height:100%
}

.event-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.event-image{
  height:160px;
  overflow: hidden;
}

.event-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.event-card:hover .event-image img{
  transform: scale(1.05);
}

.event-body{
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event-category{
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2a6262;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.event-title{
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a ;
  margin-bottom: 6px;
}


.event-desc{
  font-size: 15px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

.event-meta{
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
}


.see-more{
  display: block;
  font-size: 15px;
  color: #2a6262;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 10px 0;
}

.see-more:hover{
  text-decoration: underline;
}

.participate-btn{
  margin-top: auto;
  width:100%;
  padding: 9px;
  font-size: 13px;
  border-radius: 6px;
}

.no-events{
  text-align: center;
  color: lightgray;
  padding: 40px;
  font-size: 16px;
}



